header {
  padding: 0 1.5rem;
}

.react-heart,
.count-coin,
.count-copy {
  padding: 14px 35px;

}

.react-heart,
.count-coin {
  font-weight: bold;
}

header h1 {
  line-height: 1.5rem;
  margin: 24px 0;
}

.banner {
  background: linear-gradient(to left, #013223, #006747, #013223);
  text-align: center;
  row-gap: 10px;
}

.banner img {
  width: 92px;
  height: 92px;
}

.section-card-history {
  display: flex;
  margin-right: 1.2rem;
}

aside {
  margin-bottom: 1.2rem;
}

.single-card {
  padding: 1.2rem;
}

.service-icon-heart {
  margin-bottom: 1rem;
}

.emergency-number {
  margin-bottom: 7px;
}

.identity-services {
  width: 7rem;
  margin: 2px 0 10px 0;
  padding: 7px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex.gap-2 {
  display: flex;
  justify-content: center;
}

.copy-button,
.call-button {
  width: 50%;
  padding: 7px 4rem;
}

.copy-button {
  border: 2px solid rgba(212, 214, 213, 1);
}

.count-copy {
  font-weight: 500;
}

.sidebar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-right-button {
  padding: 0.8rem 1.8rem;
  border-radius: 50px;
}

.react-heart strong:hover {
  color: red;
}

.service-icon-heart i,
.single-card button,
.single-card a {
  cursor: pointer;
}